h1 {
    font-family: 'Lato';
    text-align: left;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400!important;
    color: #444;
}

p {
    font-size: 14px;
}

#page_account .container {
    min-width: 70vw;
}

.account_section {
    box-shadow: 5px 5px 10px #BDE5F4;
    border-radius: 10px;
    padding: 20px;
}

.account_section h2 {
    color: rgb(67, 67, 67);
    text-transform: uppercase;
    font-size: 14px!important;
    min-width: 100%;
    text-align: left;
}

.Profil {
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}

.account_ppic {
    color: rgb(200, 200, 200);
    min-height: 100px;
    min-width: 100px;
    border-radius: 40px;
    font-size: 12px;
}

.Profil .bold {
    font-weight: 600;
}

.Profil label {
    font-size: 14px;
    font-weight: 600;
}

.Profil input[type="password"] {
    border: none;
    box-shadow: inset 5px 5px 10px #BDE5F4;
    border-radius: 25px;
    padding: 0px 20px;
    line-height: 1.5em;
    font-size: 18px;
}

.Profil input[type="submit"],
.delete_account input[type="submit"] {
    background: #3CEFBE;
    color: #fff;
    border: 2px solid #3CEFBE;
    min-width: 200px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    border-radius: 5px;
    float: right;
}

.clear {
    clear: both;
}

.Profil input[type="submit"]:hover,
.Profil input[type="submit"]:focus {
    background: #fff;
    color: #3CEFBE;
}

.delete_account {
    margin-top: 30px;
}

.delete_account table {
    width: 100%;
}

.delete_account label {
    font-size: 14px;
    font-weight: 600;
}

.delete_account td {
    text-align: left;
}

.delete_account input[type="submit"] {
    background: red;
    border-color: red;
    font-size: 14px;
    padding: 0px 25px;
}

.delete_account input[type="submit"]:hover,
.delete_account input[type="submit"]:focus {
    color: red;
    background: #fff;
}

.my_contact ul {
    padding: 0px!important;
}

.my_contact li {
    font-size: 12px;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    list-style: none;
}

.my_contact .mail {
    font-weight: 200;
    font-style: italic;
    font-size: 11px;
}

.my_contact table {
    width: 100%;
}

.btn_mail {
    color: #eee;
    font-size: 30px;
    text-align: right!important;
}

.btn_mail:hover,
.btn_mail:focus {
    color: #3CEFBE;
}