h1 {
    font-family: 'Lato';
    text-align: left;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400!important;
    color: #444;
}

.facture_section h2 {
    color: rgb(67, 67, 67);
    text-transform: uppercase;
    font-size: 14px!important;
    min-width: 100%;
    text-align: left;
}

p {
    font-size: 14px;
}

#page_facture .container {
    min-width: 70vw;
}

.facture_section {
    box-shadow: 5px 5px 10px #BDE5F4;
    border-radius: 10px;
    padding: 20px;
}

table {
    width: 100%;
}

table th {
    font-size: 14px;
    text-align: left;
}

table th:nth-child(2),
table th:last-child {
    text-align: center;
}

.facture_section a {
    font-size: .7em;
    border: none;
    background: #3CEFBE;
    color: #fff;
    border-radius: 10px;
    border: 2px solid #fff;
}

.facture_section a:hover {
    background: #fff;
    color: #3CEFBE;
    border: 2px solid #3CEFBE;
}

.PDF_ddl {
    padding: 5px 30px;
}